<!-- To be removed when MVP is completed or when integrating with react -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>User Registration</h2>

    <!-- Display form errors if any -->
    {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                <li><strong>{{ field }}:</strong> {{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br><br>

      

        <button type="submit">Register</button>
    </form>

</body>
</html>
